body {
    font-family: "Roboto";
    display:flex;
    flex-direction:column;
    margin:0;
}

.hero {
    background-color:#1f2937;
    color:#F9FAF8;
    display:flex;
    flex-direction: column;
    height:200px;
    padding: 10px 40px 10px 40px;
    margin:0;
}

.hero .header {
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.hero .container {
    display:flex;
    gap:10px;
}

.intro {
    display:flex;
    justify-content: space-between;
    gap: 50px;
}

.left {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.right{
    display:flex;
    background-color: #F9FAF8;
    align-items:center;
    justify-content:center;
}

.information {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 40px;
}

.information .header {
    margin:15px auto;
    font-size:36px;
    color: #1F2937;
    font-weight: 900;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 80px;
}

.info-box {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    height:250px;
    width: 250px;
    border: 3px solid #3882F6;
    border-radius:5px;
}

.character {
    text-align: center;
    font-weight: bold;
}

.quote {
    display: flex;
    flex-direction:column;
    background-color:#E5E7EB;
    padding:50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
}

.quote-text {
    font-size:36px;
    color: #1F2937;
    font-weight:300;
}

.quote-author {
    font-size:22px;
    align-self:flex-end;
}

.call-to-action {
    display:flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.box {
    background-color:#3882F6;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    gap: 30px;
}

.command {
    font-size:20px;
    color:#F9FAF8;
}

.box .subtext {
    font-size:18px;
    color:#E5E7EB;
}

.call-to-action button {
    border:2px solid #F9FAF8;
    height: 25px;
    width: 100px;
}

.footer {
    background-color: #1F2937; 
    display:flex;
    padding: 10px;
    align-items:center;
    justify-content: center;
}

.copyright {
    color:#F9FAF8;
    }

.main {
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

.link,.secondary {
    font-size:18px;
    color:#E5E7EB;
}

button {
    background-color:#3882F6;
    width:150px;
    height: 30px;
    color:#F9FAF8;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

a {
    text-decoration:none;
}