body {
    font-family: "Roboto";
    display:flex;
    flex-direction:column;
    margin:0;
}

.hero {
    background-color:#1f2937;
    color:#F9FAF8;
    display:flex;
    flex-direction: column;
    height:300px;
    padding: 10px 60px 20px 60px;
    margin:0;
}

.header {
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

.container {
    display:flex;
    gap:20px;
}

.intro {
    display:flex;
    justify-content: space-between;
    gap: 50px;
}

.left {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.right{
    display:flex;
    background-color: darkgray;
    align-items:center;
    justify-content:center;
    padding:80px;
}

.main {
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

.link,.secondary {
    font-size:18px;
    color:#E5E7EB;
}

button {
    background-color:#3882F6;
    width:100px;
    color:#F9FAF8;
    border-radius: 5px;
    border: none;
}

a {
    text-decoration:none;
}